$grey-header : #4a4a49;     // nagłówek, kolor tekstu w kolumnach
$grey-sidebar : #5B605F;    // panel boczny, nawigacja
$grey-background : #FFFFFA; // kolor tła ekranów
$grey-text : #A1A194;       // kolor tekstu z wierszy w tabelach
$orange-special : #FF6600;  // przyciski, wyróżnienia, nagłówki ekranów
$blue-info : #3498DB;       // wiadomość typu info
$orange-warning : #FFB03B;  // wiadomość typu warning
$green-success : #468966;   // wiadomość typu success
$brown-trash : #BD4932;     // ikonka usuń (kosz)
$orange-jedzonko : #E58A20; // słowo "jedzonko" w logo